# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

lib-cov
coverage

.grunt

# Compiled binary
build/Release

# Node
node_modules
.npm

# Editors
.node_repl_history
.c9
.vscode
.history
.idea
